[Desktop Entry]
Type=Application
Version=1.1
Name=CMST
GenericName=Network Configuration
Comment=QT GUI frontend for connman
Categories=Network;Utility
Icon=/usr/share/icons/hicolor/24x24/apps/cmst.png
Terminal=false
Exec=/usr/bin/cmst
