[Unit]
Description="CMST - A QT based gui frontend with system tray icon for the connman daemon"
Documentation="man:cmst(1)"

[Service]
#Type=oneshot
#ExecStart=/bin/bash -c '/usr/bin/myles_apps/checkboot/checkboot.sh -f -l'
#TimeoutSec=0
#RemainAfterExit=no

[Install]
#
WantedBy=multi-user.target

3
