[Unit]
Description="CMST - A QT based gui frontend with system tray icon for the connman daemon"
Documentation="man:cmst(1)"
BindsTo=multi-user.target.wants/connman.service
After=multi-user.target.wants/connman.service

[Service]
Environment=DISPLAY=:0
Type=simple
ExecStart=/usr/bin/cmst --minimized --icon-theme
TimeoutSec=0
RemainAfterExit=no

[Install]
WantedBy=graphical.target
