Source: cmst
Section: net
Priority: optional
Maintainer: Moritz Heiber <hello@heiber.im>
Build-Depends: debhelper (>= 9),
               qt5-default,
               qtbase5-dev,
               qt5-qmake
Standards-Version: 3.9.5
Homepage: https://github.com/andrew-bibb/cmst
Vcs-Browser: https://github.com/andrew-bibb/cmst

Package: cmst
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, connman, libqt5gui5, libqt5network5
Description: QT GUI for Connman
 The program provides graphical user interface to control the connman daemon.
 The connman daemon must be started as you normally would, this program just
 interfaces with that daemon. You can see what technologies and services
 connman has found, and for wifi services an agent is registered to assist
 in obtaining the information from you necessary to logon the wifi service.
